$clr-blue-100: hsl(210, 46%, 95%);
$clr-blue-200: hsl(217, 19%, 35%);
$clr-blue-200-semi: hsl(217, 19%, 35%, .2);
$clr-blue-300: hsl(219, 29%, 14%);

$clr-violet-100: hsl(263, 55%, 52%);

$clr-neutral-semi: hsla(0, 0%, 100%, .4);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 81%);


