@use "abstract/" as *;

body{
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    margin:0;
}
.testimonial{
    grid-template-columns: repeat(4,1fr);
    max-width: toRem(1400);
}

.comment:nth-child(1),
.comment:nth-child(4){
    grid-column: span 2;
}

.comment:nth-child(3){
    grid-row: 2;
}

.comment:nth-child(5){
    grid-row: 1 / span 2;
    grid-column: 4;
}